---
version: '3.7'
networks:
  {{ nginx_network_name }}:
    external: true
  {{ stack_network_name }}:
    external: true

services:
  {{ deploy_name }}_postgres:
      image: {{ keycloak_pg_image }}
      volumes:
        - {{ deploy_name }}_postgres_vol:/var/lib/postgresql/data
        - /etc/localtime:/etc/localtime:ro
      environment:
        POSTGRES_DB: "{{ keycloak_db_name }}"
        POSTGRES_USER: "{{ keycloak_db_user }}"
        POSTGRES_PASSWORD: "{{ keycloak_db_pass }}"
      networks:
        - {{ stack_network_name }}
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U {{ keycloak_db_user }} -d {{ keycloak_db_name }}"]
        interval: 10s
        timeout: 5s
        retries: 5         
            
  {{ deploy_name }}:
      image: {{ keycloak_image }}
      environment:
        KC_PROXY: "{{ keycloak_proxy }}"
        KC_HOSTNAME: "{{ keycloak_server }}"
        KC_DB: "postgres"
        KC_DB_URL: "jdbc:postgresql://{{ deploy_name }}_postgres/{{ keycloak_db_name }}"
        KC_DB_USERNAME: "{{ keycloak_db_user }}"
        KC_DB_PASSWORD: "{{ keycloak_db_pass }}"
        KC_FEATURES: "{{ keycloak_features }}"
        KC_CACHE: "{{ keycloak_cache }}"
        KEYCLOAK_ADMIN: "{{ keycloak_admin_user }}"
        KEYCLOAK_ADMIN_PASSWORD: "{{ keycloak_admin_pass }}"
#       KC_HTTPS_KEY_STORE_FILE: "keystore"
#       KC_HTTPS_KEY_STORE_PASSWORD: "justtry"
        KC_METRICS_ENABLED: "{{ keycloak_metrics_enabled }}"
      volumes:
        - /etc/localtime:/etc/localtime:ro
      command: ["start", "--optimzed"]
      ports:
        - 8080
      networks:
        - {{ nginx_network_name }}
        - {{ stack_network_name }}

volumes:
  {{ deploy_name }}_postgres_vol: